.heading-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header {
    border-top: 1px solid #FAF8F8;
}

.header {
}

h2 {
    text-align: center;
    margin: 10px 0 20px;
    line-height: 0.1em;
}

h2 {
    border-bottom: 1px solid #000;
    width: 90%;
}

h2 span {
    background:#FAF8F8;
    padding:0 10px;
}