.about {
}

.write-up-container {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.write-up {
  width: 80%;
}

.about-paragraph {
  text-align: left;
}

.grid-container {
  width: 90%;
}
